@charset "UTF-8";
@font-face {
  font-family: "源真ゴシック-Bold";
  src: url("../fonts/GenShinGothic-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "源真ゴシック-Heavy";
  src: url("../fonts/GenShinGothic-Heavy.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "源真ゴシック-Medium";
  src: url("../fonts/GenShinGothic-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "はんなり明朝";
  src: url("../fonts/HannariMincho-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Philosopher-Italic";
  src: url("../fonts/Philosopher-Italic.woff") format("woff");
}

@font-face {
  font-family: "Philosopher-Regular";
  src: url("../fonts/Philosopher-Regular.woff") format("woff");
  font-weight: 400;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  width: 100vw;
}


/*main*/
#main {
  width: 100vw;
  height: 66.6178623719vw;
  background-image: url("../img/header.jpg");
  background-size: cover;
}

#inner {
  width: 46.9253294vw;
  height: 57.4370425vw;
}

#inner h1 {
  font-family: はんなり明朝;
  font-weight: 400;
  letter-spacing: 0.12em;
  color: #63977E;
  font-size: 5.12445095168vw;
  width: 46.92532vw;
  height: 12.00585vw;
  position: absolute;
  top: 3.76281113vw;
  left: 51.7349927vw;
}

#name {
  font-family: "Noto Sans JP";
  font-size: 2.04978vw;
  font-weight: 500;
  letter-spacing: 0.08em;
  margin: 0.51976vw 0 3.25768vw 0;
  position: absolute;
  top: 16.2884334vw;
  left: 51.7789165vw;
}

#inner img {
  width: 28.5505124vw;
  height: 26.8667643vw;
  position: absolute;
  top: 22.4743777vw;
  left: 59.2240117vw;
}

#sub-comment {
  font-size: 2.48901vw;
  line-height: 0.94444;
  font-family: "Noto Sans JP";
  width: 18.15519vw;
  position: absolute;
  top: 53.218448vw;
  left: 51.9085359vw;
  z-index: 1;
}

#percent {
  font-family: Philosopher-Regular;
}

#inner h2 {
  font-family: はんなり明朝;
  font-size: 3.29428vw;
  font-weight: 400;
  letter-spacing: 0.055em;
  width: 46.92532vw;
  position: absolute;
  top: 56.6178624vw;
  left: 51.8081991vw;
  z-index: 1;
}

#empty-1 {
  width: 46.4128843vw;
  border-bottom: 0.95168vw solid #B391A2;
  position: absolute;
  top: 60.15000vw;
  left: 51.7569546vw;
}

#empty-2 {
  width: 16.1054173vw;
  border-bottom: 0.58565vw solid #B391A2;
  position: absolute;
  top: 55.4101025vw;
  left: 51.7569546vw;
}

#Instagram {
  height: 60.3953148vw;
  width: 100vw;
}

#artcle {
  width: 79.2825769vw;
  height: 53.2942899vw;
  margin: 0 auto;
}

#heading {
  width: 65.8125915vw;
  height: 8.34553441vw;
  position: absolute;
  top: 69.4729136vw;
  left: 16.3250366vw;
}

#ad {
  font-family: "Noto Sans JP";
  font-size: 2.48901903vw;
  width: 50.0732064vw;
  height: 3.5871167vw;
  letter-spacing: 0.001em;
  position: absolute;
  top: 78.4260615vw;
  left: 24.9633968vw;
}

#post {
  width: 79.2825769vw;
  height: 37.8477306vw;
  position: absolute;
  top: 84.9194729vw;
  left: 10.3953148vw;
  display: flex;
  flex-direction: row;
}

.posters {
  width: 12.5915081vw;
  height: 37.8477306vw;
  position: relative;
  border: 0.00073206vw solid #A9A9A9;
  margin-right: 0.73206442vw;
}

.picture {
  width: 12.3915080vw;
  height: 12.3915081vw;
}

.writing {
  display: flex;
  flex-direction: row;
  margin-top: 0.80527086vw;
  margin-left: 0.73206442vw;
}

.icon {
  width: 2.19619327vw;
  height: 2.19619327vw;
  margin-right: 0.3147877vw;
}

.text {
  font-family: Noto Sans JP;
  font-size: 1.17130307vw;
  width: 11.0490483vw;
  height: 15.0329429vw;
  position: absolute;
  top: 16.4934114vw;
  left: 0.74670571vw;
}

.text span {
  display: none;
}

.date {
  font-family: Noto Sans JP;
  font-size: 1.17130307vw;
  width: 11.0490483vw;
  height: 3.73792094vw;
  position: absolute;
  top: 33.0863836vw;
  left: 0.74670571vw;
  text-align: right;
}



.Campagin {
  width: 100vw;
  height: 59.8828697vw;
  background-image: url("../img/cv.jpg");
  background-size: cover;
  position: relative;
}

.ribbon {
  width: 69.2532943vw;
  height: 7.10102489vw;
  position: absolute;
  top: 4.46559297vw;
  left: 15.3733529vw;
}

.Campagin_left {
  width: 30.966325vw;
  position: absolute;
  top: 18.5944363vw;
  left: 10.0292826vw;
}

.product {
  width: 29.3557833vw;
  height: 28.9165447vw;
}

.animate__animated {
  opacity: 0;
}

.volume {
  width: 21.6691069vw;
  font-family: "Noto Sans JP";
  font-size: 2.04978038vw;
  text-align: center;
  margin: 0 auto;
}


.product_name {
  font-family: "はんなり明朝";
  font-weight: normal;
  font-size: 4.02635432vw;
  position: absolute;
  top: 18.0087848vw;
  left: 42.9721816vw;
}

.product_subname {
  font-family: "Noto Sans JP";
  font-size: 2.04978038vw;
  position: absolute;
  top: 22.7672035vw;
  left: 42.9721816vw;
}

.border_1 {
  width: 46.4860908vw;
  border-bottom: 0.17320644vw solid #91B3A2;
  position: absolute;
  top: 27.4524158vw;
  left: 42.9721816vw;
}

.money {
  font-family: "Noto Sans JP";
  font-size: 1.97657394vw;
  width: 19.715959vw;
  position: absolute;
  top: 30.0878477vw;
  left: 42.3133236vw;
}

.Phi {
  font-family: "Philosopher-Regular";
  display: inline-block;
  font-size: 1.97657394vw;
}

.first {
  font-family: "Noto Sans JP";
  font-size: 2.19619327vw;
  width: 17.5695461vw;
  position: absolute;
  top: 33.1625183vw;
  left: 42.3133236vw;
}

.border_2 {
  width: 18.5455783vw;
  border-top: 0.20041288vw solid #212529;
  position: absolute;
  top: 31.525183vw;
  left: 42.3133236vw;
}

.Campagin h1 {
  font-family: "Philosopher-Regular";
  font-weight: 400;
  font-size: 7.90629575vw;
  color: #FF0000;
  width: 26.3762811vw;
  position: absolute;
  top: 28.6969253vw;
  left: 62.9575403vw;
  
}

.Campagin h1 span {
  font-size: 3.80673499vw;
}

.tax {
  font-family: "Noto Sans JP";
  font-size: 1.97657394vw;
  position: absolute;
  top: 33.601757vw;
  left: 84.4802343vw;
}

.try {
  width: 46.4860908vw;
  height: 7.4670571vw;
  position: absolute;
  top: 39.5314788vw;
  left: 42.846266vw;
  background: linear-gradient(to bottom, #AFC8BB, #91B3A2);
  border-radius: 0.73206442vw;
  color: #FFFFFF;
  font-family: "はんなり明朝";
  font-size: 3.73352855vw;
  letter-spacing: 0.1em;
  padding-top: 1.24450952vw;
  padding-left: 10.761347vw;
}


.Campagin h3 {
  font-family: "Noto Sans JP";
  font-weight: 500;
  font-size: 3.00146413vw;
  color: #BC0000;
  position: absolute;
  top: 48.0234261vw;
  left: 42.9721816vw;
  
}

.border_3 {
  border-bottom: 0.73206442vw solid #B391A2;
  width: 17.9355783vw;
  position: absolute;
  top: 51.6837482vw;
  left: 42.9721816vw;
}

.explain {
  font-family: "Noto Sans JP";
  font-size: 2.12298682vw;
  letter-spacing: 0.03em;
  position: absolute;
  top: 52.6354319vw;
  left: 42.9721816vw;
}


#Check {
  width: 100vw;
  height: 60.0292826vw;
  background-image: url("../img/empathy.jpg");
  background-size: cover;
  position: relative;
}

#Check h1 {
  font-family: "はんなり明朝";
  font-weight: 400;
  font-size: 5.41727672vw;
  letter-spacing: 0.07em;
  color: #63977E;
  position: absolute;
  top: 2.76720351vw;
  left: 9.5314788vw;
}

#border_4 {
  width: 79.9414348vw;
  border-bottom: 1.46412884vw solid #B391A2;
  position: absolute;
  top: 8.71156662vw;
  left: 10.0292826vw;
}

#check_box {
  position: absolute;
  top: 23.9174231vw;
  left: 10.0292826vw;
  display: flex;
  flex-direction: column;
}

#check_box img {
  width: 2.04978038vw;
  height: 1.9033675vw;
  margin-bottom: 4.39238653vw;
}

#opinion {
  position: absolute;
  top: 23.2174231vw;
  left: 13.6969253vw;
}

#opinion p {
  font-family: "Noto Sans JP";
  font-size: 2.04978038vw;
  letter-spacing: 0.07em;
  margin-bottom: 3.36896047vw;
}

#container > p {
  font-family: "Noto Sans JP";
  font-size: 2.04978038vw;
  letter-spacing: 0.07em;
  margin-top: 3.04070278vw;
  position: absolute;
  top: 45.4026354vw;
  left: 9.9633968vw;
}

#Cause {
  width: 100vw;
  height: 81.1127379vw;
  position: relative;
}

#exhibit_1 {
  background-image: url("../img/exhibit1.jpg");
  background-size: cover;
  width: 100vw;
  height: 40.4831625vw;
}

#exhibit_1 h2 {
  font-family: "はんなり明朝";
  font-weight: 400;
  font-size: 3.51390922vw;
  letter-spacing: 0.03em;
  color: #63977E;
  position: absolute;
  top: 3.26500732vw;
  left: 9.8462665vw;
}

#exhibit_1_border {
  width: 64.7144949vw;
  border-bottom: 1.09809663vw solid #B391A2;
  position: absolute;
  top: 7.02781845vw;
  left: 10.0292826vw;
}

#exhibit_1_item {
  position: absolute;
  top: 11.5300146vw;
  left: 10.0585652vw;
  display: flex;
  flex-direction: row-reverse;
}

#exhibit_1_item p {
  width: 44.8155198vw;
  margin-right: 5.15373353vw;
  font-family: "Noto Sans JP";
  font-size: 1.97657394vw;
  letter-spacing: 0.01em;
  margin-bottom: 3.0vw;
}

#exhibit_1_item img {
  width: 29.8682284vw;
  height: 19.9121523vw;
}


#Cause > img {
  width: 23.7920937vw;
  height: 8.50629575vw;
  position: absolute;
  top: 35.6032211vw;
  left: 38.0673499vw;
  z-index: 1;
}

#exhibit_2 {
  background-image: url("../img/exhibit2.jpg");
  background-size: cover;
  width: 100vw;
  height: 40.6295754vw;
  position: relative;
}

#exhibit_2 h2 {
  font-family: "はんなり明朝";
  font-weight: 400;
  font-size: 3.51390922vw;
  letter-spacing: 0.03em;
  color: #63977E;
  position: absolute;
  top: 5.90043924vw;
  left: 9.8462665vw;
  z-index: 1;
}

#exhibit_2_border {
  width: 53.806735vw;
  border-bottom: 1.09809663vw solid #B391A2;
  position: absolute;
  top: 9.6632504vw;
  left: 9.8462665vw;
  
}

#exhibit_2_item {
  display: flex;
  flex-direction: row;
  margin: 0 9.8462665vw;
  position: absolute;
  top: 14.3484627vw;
}

#exhibit_2 img {
  width: 29.8682284vw;
  height: 19.9121523vw;
  margin-right: 5.08052709vw;
}

#exhibit_2 p {
  font-family: "Noto Sans JP";
  font-size: 1.97657394vw;
  letter-spacing: 0.01em;
  margin-bottom: 3.0vw;
}




#Point {
  height: 145.021962vw;
  width: 100vw;
}


#Point h2 {
  font-family: "はんなり明朝";
  font-weight: 400;
  font-size: 4.97803807vw;
  letter-spacing: 0.07em;
  color: #63977E;
  margin: 5.98828697vw 0 5.60761347vw 0vw;
  text-align: center;
}


#Point_items {
  width: 80.0636896vw;
  height: 29.9055637vw;
  margin: 0 auto;
}

.Point_item {
  position: relative;
  margin-bottom: 7.5885798vw;
}

.l {
  display: flex;
  flex-direction: row;
}

.r{
  display: flex;
  flex-direction: row-reverse;
}

.Point_item h3 {
  font-family: "はんなり明朝";
  font-weight: 400;
  font-size: 3.51390922vw;
  letter-spacing: 0.03em;
  color: #212529;
  width: 43.045388vw;
  border-bottom: 0.07320644vw solid #212529;
  padding-bottom: 1.50805271vw;
  position: relative;
  z-index: 1;
}

.Point_item p {
  margin-top: 0.95900439vw;
  width: 43.045388vw;
  font-family: "Noto Sans JP";
  font-size: 1.97657394vw;
  color: #212529;
}

.margin_l {
  margin-right: 5.95168375vw;
}

.margin_r {
  margin-left: 5.81259151vw;
}

.Point_item img {
  width: 30.966325vw;
  height: 20.6442167vw;
  vertical-align: bottom;
}

.Point_item figcaption {
  font-family: "Noto Sans JP";
  font-size: 1.75695461vw;
  color: #212529;
  text-align: center;
}

#no_dry {
  width: 24vw;
  margin: 0 auto;
  text-align: center;
}

#Point_border1 {
  width: 24.3045388vw;
  border-bottom: 1.09809663vw solid #B391A2;
  position: absolute;
  top: 3.79238653vw;
}

#Point_border2 {
  width: 21.522694vw;
  border-bottom: 1.09809663vw solid #B391A2;
  position: absolute;
  top: 3.79238653vw;
}

#Point_border3 {
  width: 32.3572474vw;
  border-bottom: 1.09809663vw solid #B391A2;
  position: absolute;
  top: 3.79238653vw;
}

#Point_border4 {
  width: 39.8243045vw;
  border-bottom: 1.09809663vw solid #B391A2;
  position: absolute;
  top: 3.79238653vw;
}


#Step {
  width: 100vw;
  height: 134.068814vw;
  background-image: url("../img/use.jpg");
  background-size: cover;
}

#Step h2 {
  font-family: "はんなり明朝";
  font-weight: 400;
  font-size: 4.97803807vw;
  letter-spacing: 0.03em;
  width: 79.7021962vw;
  color: #63977E;
  margin: 5.40263543vw 0 5.28550512vw 9.897511vw;
}

#Step > section {
  width: 79.9414348vw;
  margin: 0 auto;
}

.Step_item {
  width: 79.9414348vw;
  margin: 0 auto;
  height: 22.4011713vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 2.12298682vw;
  border-bottom: 0.07320644vw solid #808080;
  position: relative;
}

.Step_item img {
  width: 34.9926794vw;
  height: 17.4963397vw;
  position: absolute;
  top: 1.46412884vw;
}

.Step_border {
  border-left: 0.07320644vw solid #808080;
  height: 20.204978vw;
  position: absolute;
  top: 0;
  left: 40.2635432vw;
}


.Step_point {
  position: absolute;
  left: 45.4612006vw;
  top: 1.46412884vw;
}

.Step_item h3 {
  font-family: "Philosopher-Italic";
  font-weight: 400;
  font-size: 3.58711567vw;
  width: 9.74363104vw;
  padding-bottom: 0.2vw;
  margin-top: 0.1vw;
  color: #212529;
  letter-spacing: 0.01em;
  line-height: 0.6125;
  border-bottom: 0.29282577vw solid #212529;
}


.Step_item p {
  width: 34.0739385vw;
  font-family: "Noto Sans JP";
  font-size: 1.97657394vw;
  color: #212529;
  margin-top: 5.03616398vw;
}

.last {
  border-bottom: none;
}




#QandA {
  width: 100vw;
  height: 169.180088vw;
  background-image: url("../img/Q_A.jpg");
  background-size: cover;
}

#QandA h2 {
  font-family: "はんなり明朝";
  font-weight: 400;
  font-size: 4.97803807vw;
  color: #63977E;
  width: 66.6714495vw;
  letter-spacing: 0.03em;
  margin: 0vw 16.7642753vw 8.1625183vw;
  padding-top: 6.57393851vw;
}

#QandA > div {
  width: 79.9414348vw;
  margin: 0 auto;
}

.question > div {
  font-family: "Philosopher-Regular";
  font-size: 3.95314788vw;
  color: #5D8974;
  margin-right: 1.27379209vw;
  margin-bottom: 3.58711567vw;
}

.awnser > div {
  font-family: "Philosopher-Regular";
  font-size: 3.95314788vw;
  color: #9D3E3E;
  margin-right: 1.34699854vw;
}

.question , .awnser {
  display: flex;
  flex-direction: row;
}

.solution p {
  font-family: "Noto Sans JP";
  font-size: 1.97657394vw;
  color: #212529;
  width: 74.2825769vw;
  margin-top: 1.35270864vw;
}

.solution {
  padding-bottom: 5.13879941vw;
  margin-bottom: 3.50380673vw;
  border-bottom: 0.07320644vw solid #808080;
}

.no {
  border-bottom: none;
}



#Form {
  width: 100vw;
  height: 160.446559vw;
}

#Form > div {
  width: 79.8682284vw;
  margin: 0 auto;
  margin-top: 4.97803807vw;
}

#information {
  font-family: "源真ゴシック-Bold";
  font-size: 2.92825769vw;
  letter-spacing: 0.260em;
  color: #212529;
  text-align: center;
  background-color: #F1EFED;
  border-radius: 0.732064vw;
}

#sign {
  margin-top: 8.19912152vw;
  margin-bottom: 6.44216691vw;
  border: 0.07320644vw solid #808080;
  border-radius: 0.73206442vw;
}

.form_column {
  display: flex;
  flex-direction: row;
  margin-left: 5.12445095vw;
}

.form_label {
  font-family: "源真ゴシック-Medium";
  font-size: 1.97657394vw;
  color: #212529;
  margin-top: 0.80527086vw;
}

.necessary {
  font-family: "源真ゴシック-Medium";
  font-size: 1.97657394vw;
  color: #FFFFFF;
  background-color: #FF0000;
  border-radius: 0.29282577vw;
  padding: 0.29282577vw 0.5124451vw;
  margin-right: 1.46412884vw;
  width: 4.97803807vw;
  height: 3.36749634vw;
  margin-top: 0.5124451vw;
}

.unnecessary {
  font-family: "源真ゴシック-Medium";
  font-size: 1.97657394vw;
  color: #FFFFFF;
  background-color: #808080;
  border-radius: 0.29282577vw;
  padding: 0.29282577vw 0.5124451vw;
  margin-right: 1.46412884vw;
  width: 4.97803807vw;
  height: 3.36749634vw;
  margin-top: 0.5124451vw;
}

.form_parts {
  font-family: "源真ゴシック-Medium";
  font-size: 1.97657394vw;
  border: 0.07320644vw solid #D3D3D3;
  border-radius: 0.29282577vw;
  height: 4.46559297vw;
}

.column_name {
  margin-top: 5.12445095vw;
  margin-bottom: 3.51390922vw;
}

.label_name {
  margin-right: 11.8594436vw;
}

#username, #userkana, #useradress, #userprefecture, #userphone_number{
  width: 23.0600293vw;
}

.column_kana {
  margin-bottom: 7.02781845vw;
}

.label_kana {
  margin-right: 9.8828697vw;
}

.column_adress {
  margin-bottom: 3.51390922vw;
}

.label_adress {
  margin-right: 9.8828697vw;
}

.column_prefecture {
  margin-bottom: 3.51390922vw;
}

.label_prefecture {
  margin-right: 9.8828697vw;
}

.column_municipalities {
  margin-bottom: 3.51390922vw;
}

.label_municipalities {
  margin-right: 9.8828697vw;
}

#usermunicipalities, #userapartment, #usermailadress, #userpassword{
  width: 45.3879941vw;
}

.column_apartment {
  margin-bottom: 7.10102489vw;
}

.label_apartment {
  margin-right: 5.92972182vw;
}

.column_phone_number {
  margin-bottom: 3.51390922vw;
}

.label_phone_number {
  margin-right: 9.8828697vw;
}

.column_mailadress {
  margin-bottom: 7.10102489vw;
}

.label_mailadress {
  margin-right: 3.95314788vw;
}

.column_password {
  margin-bottom: 6.66178624vw;
}

.label_password {
  margin-right: 7.90629575vw;
}

.column_prefecture {
  position: relative;
}

.fa-angle-down {
  font-size: 1vw;
  color: #212529;
  position: absolute;
  top: 2vw;
  left: 46.5vw;
  z-index: 3;
}


#payment {
  font-family: "源真ゴシック-Bold";
  font-size: 2.92825769vw;
  letter-spacing: 0.260em;
  color: #212529;
  text-align: center;
  background-color: #F1EFED;
  border-radius: 0.732064vw;
}


.radiobutton {
  display: flex;
  flex-direction: column;
  margin-left: 2.92825769vw;
  margin-top: 0.5vw;
}

.radio {
  width: 1.97657394vw;
  height: 1.97657394vw;
  border: 0.07320644vw solid #000000;
  margin-bottom: 4.83352855vw;
}


.radiotext {
  font-family: "源真ゴシック-Medium";
  font-size: 1.97657394vw;
  display: flex;
  flex-direction: column;
  margin-left: 0.80527086vw;
}

.radiotext > p {
  margin-bottom: 3.83352855vw;
}

#form_submit > div {
  display: flex;
  justify-content: flex-start;
  margin-top: 6.5885798vw;
  margin-bottom: 3.7670571vw;
}

#form_has_error {
  font-family: "源真ゴシック-medium";
  font-size: 2.92825769vw;
  color: red;
  margin-left: 17.9853587vw;
  
}

#submit_button {
  font-family: "源真ゴシック-Bold";
  font-size: 4.09956076vw;
  color: #FFFFFF;
  background: linear-gradient(to bottom, #91B3A2, #31A169);
  letter-spacing: 0.11em;
  width: 39.9707174vw;
  height: 8.34553441vw;
  border-radius: 0.7320644vw;
  margin-left: 19.9853587vw;
}










#Credit {
  width: 100vw;
  height: 5.19765739vw;
  background-image: url("../img/footer.jpg");
  background-size: cover;
}

#Credit ul {
  display: flex;
  flex-direction: row;
  padding-top: 1.54465593vw;
  margin-left: 16.5007321vw;
}

#Credit li {
  font-family: "Noto Sans JP";
  font-size: 1.46412884vw;
  letter-spacing: 0.02em;
  list-style: none;
  padding: 0 0.73206442vw;
}

#Credit li a {
  text-decoration: none;
  color: #212529;
}

.border_right {
  border-right: 0.073206442vw solid #212529;
}

.border_none {
  border-right: none;
}





















/*スマホ*/
@media screen and (max-width: 1024px) {
  
  #main {
    background-image: url("../img/header_sp.jpg");
    background-size: cover;
    width: 100vw;
    height: 150vw;
    position: relative;
    color: #FFFFFF;
  }
  
  #inner h1 {
    font-size: 8.31466667vw;
    letter-spacing: 0.12em;
    width: 74.5vw;
    height: 20vw;
    position: absolute;
    top: 3.54666667vw;
    left: 13.4133333vw;
  }
  
  #name {
    font-size: 3.84vw;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    width: 66vw;
    position: absolute;
    top: 24.1333333vw;
    left: 13.4vw;
  }
  
  #inner img {
    width: 38.2213333vw;
    height: 36vw;
    position: absolute;
    top: 102.133333vw;
    left: 47.8933333vw;
  }
  
  #inner h2 {
    font-size: 4.896vw;
    width: 38.9vw;
    height: 11.4666667vw;
    position: absolute;
    top: 123.2vw;
    left: 8.8vw;
  }
  
  #empty-2 {
    width: 30.2026667vw;
    border-bottom: 1.06666667vw solid #B391A2;
    position: absolute;
    top: 134.4vw;
    left: 9.504vw;
  }
  
  #empty-3 {
    width: 37.4026667vw;
    border-bottom: 1.06666667vw solid #B391A2;
    position: absolute;
    top: 128.533333vw;
    left: 9.504vw;
  }
  
  #empty-1 {
    width: 24.5333333vw;
    border-bottom: 0.8vw solid #B391A2;
    position: absolute;
    top: 122.133333vw;
    left: 9.504vw;
  }
  
  #sub-comment {
    width: 29.733333vw;
    font-size: 3.73333333vw;
    letter-spacing: 0.02em;
    position: absolute;
    top: 119vw;
    left: 9.5733333vw;
  }
  
  #sub-comment span {
    margin-right: 0.40vw;
  }
  
  
  
  
  #Instagram {
    width: 100vw;
    height: 109.6vw;
    position: none;
  }
  
  #heading {
    width: 67.2vw;
    height: 8.49066667vw;
    position: absolute;
    top: 156.533333vw;
    left: 16.16vw;
  }
  
  #ad {
    letter-spacing: 0.001em;
    font-size: 3.36vw;
    width: 68.4666667vw;
    margin-top: 0.66666667vw;
    margin-bottom: 3.65333333vw;
    position: absolute;
    top: 165.688vw;
    left: 16.28vw;
  }
  
  #post {
    position: absolute;
    top: 174.4vw;
    left: 12.3266667vw;
  }
  
  .posters {
    width: 22.6666667vw;
    height: 79.2vw;
    margin-right: 2.66666667vw;
  }
  
  .blind {
    display: none;
  }
  
  .picture {
    width: 22.6666667vw;
    height: 22.6666667vw;
  }
  
  .writing {
    position: absolute;
    top: 23.8133333vw;
    left: 1.6vw;
  }
  
  .icon {
    width: 4.032vw;
    height: 4.032vw;
    margin-right: 1.12vw;
  }
  
  .writing p {
    font-size: 2.66666667vw;
  }
  
  .text {
    font-size: 2.4vw;
    width: 19.2333333vw;
    height: 35.4666667vw;
    margin-left: 0.6vw;
    margin-bottom: 5.62666667vw;
    position: absolute;
    top: 32.5333333vw;
  }
  
  .text span {
    display: inline-block;
  }
  
  .date {
    font-size: 2.66666667vw;
    margin-left: 4.9vw;
    position: absolute;
    top: 73.6vw;
  }
  
  
  
  
  .Campagin {
    width: 100vw;
    height: 80vw;
  }
  
  .ribbon {
    width: 67.2;
    position: absolute;
    top: 2.03333333vw;
  }
  
  .product {
    width: 28.8vw;
    height: 28.8vw;
  }
  
  .Campagin_left {
    position: absolute;
    top: 16.7733333vw;
    left: 9.8666667vw;
  }
  
  .volume {
    font-size: 2.88vw;
    width: 30.6666667vw;
    position: absolute;
    top: 11.2vw;
    left: 34.4666667vw;
  }
  
  .product_name {
    font-size: 3.84vw;
    position: absolute;
    top: 15.5333333vw;
    left: 44.4666667vw;
  }
  
  .product_subname {
    font-size: 2.66666667vw;
    letter-spacing: 0.02em;
    position: absolute;
    top: 19.9333333vw;
    left: 44.4666667vw;
  }
  
  .first {
    font-size: 3.744vw;
    width: 32vw;
    position: absolute;
    top: 54.1333333vw;
    left: 10.1333333vw;
  }
  
  .try {
    font-size: 4.32vw;
    letter-spacing: 0.6em;
    width: 80.8vw;
    height: 9.6vw;
    padding-left: 21.6266667vw;
    padding-top: 1.7vw;
    position: absolute;
    top: 63.7333333vw;
    left: 9.6vw;
  }
  
  .tax {
    font-size: 2.66666667vw;
    position: absolute;
    top: 56.2666667vw;
    left: 86.1333333vw;
  }
  
  .Campagin h1 {
    width: 42.0666667vw;
    font-size: 14.4vw;
    position: absolute;
    top: 46.1333333vw;
    left: 44.4666667vw;
  }
  
  .Campagin h1 span {
    font-size: 10vw;
  }
  
  .money {
    width: 31.2333333vw;
    font-size: 3.36vw;
    position: absolute;
    top: 48.5333333vw;
    left: 10.1333333vw;
  }
  
  .Phi {
    font-size: 3.36vw;
  }
  
  .border_2 {
    border-top: 0.26666667vw solid #212529;
    width: 31.2vw;
    position: absolute;
    top: 51.2vw;
    left: 10.1333333vw;
  }
  
  .border_1 {
    width: 44.336vw;
    border-bottom: 0.26666667vw solid #91B3A2;
    position: absolute;
    top: 24.5vw;
    left: 44.4666667vw;
  }
  
  .Campagin h3 {
    font-size: 3.552vw;
    position: absolute;
    top: 34.4vw;
    left: 44.4666667vw;
    z-index: 1;
  }
  
  .border_3 {
    width: 21.0666667vw;
    border-bottom: 0.8 solid #B391A2;
    position: absolute;
    top: 38.3066667vw;
    left: 44.4666667vw;
  }
  
  .explain {
    font-size: 2.66666667vw;
    position: absolute;
    top: 39.2vw;
    left: 44.4666667vw;
  }
  
  
  
  
  #Check {
    width: 100vw;
    height: 81.944vw;
  }
  
  #container h1 {
    font-size: 5.06666667vw;
    position: absolute;
    top: 2.34666667vw;
    left: 8.7466667vw;
    z-index: 1;
  }
  
  #border_4 {
    position: absolute;
    top: 7.1vw;
    left: 8.7466667vw;
  }
  
  #check_box {
    position: absolute;
    top: 20.88vw;
    left: 9.8666667vw;
  }
  
  #check_box img {
    width: 3.2vw;
    height: 3.2vw;
    margin-bottom: 6.53333333vw;
  }
  
  #opinion {
    position: absolute;
    top: 19.5466667vw;
    left: 15.7066667vw;
  }
  
  #opinion p {
    font-size: 3.36vw;
    letter-spacing: 0.07em;
    margin-bottom: 5.03333333vw;
  }
  
  #container > p {
    font-size: 3.36vw;
    letter-spacing: 0.07em;
    position: absolute;
    top: 55.266667vw;
    left: 9.7866667vw;
  }
  
  
  
  
  #Cause {
    width: 100vw;
    height: 204.913333vw;
  }
  
  #exhibit_1 {
    width: 100vw;
    height: 107.766667vw;
  }
  
  #exhibit_1 h2 {
    font-size: 4vw;
    letter-spacing: 0.03em;
    position: absolute;
    top: 4.96vw;
    left: 11.9333333vw;
  }
  
  #exhibit_1_border {
    width: 77.06666667vw;
    border-bottom: 0.53333333vw solid #B391A2;
    position: absolute;
    top: 10.4vw;
    left: 10.7333333vw;
  }
  
  #exhibit_1_item {
    display: block;
    position: absolute;
    top: 15.52vw;
    left: 10.7333333vw;
  }
  
  #exhibit_1_item > img{
    width: 76.8vw;
    height: 51.2vw;
  }
  
  #exhibit_1_item > div > p {
    font-size: 3.36vw;
    width: 82.2666667vw;
    margin-bottom: 0;
  }
  
  #exhibit_1_item > div > .haa {
    width: 80vw;
  }
  
  
  #Cause > img {
    width: 28.8vw;
    height: 9.576vw;
    position: absolute;
    top: 102.346667vw;
    left: 35.2533333vw;
  }
  
  #exhibit_2 {
    width: 100vw;
    height: 109.6666667vw;
  }
  
  #exhibit_2 h2 {
    font-size: 4.21333333vw;
    letter-spacing: 0.03em;
    position: absolute;
    top: 4.048vw;
    left: 18.88vw;
  }
  
  #exhibit_2_border {
    width: 65.096vw;
    border-bottom: 0.8vw solid #B391A2;
    position: absolute;
    top: 9.49866667vw;
    left: 18.6666667vw;
  }
  
  #exhibit_2_item {
    display: block;
    position: absolute;
    top: 11.744vw;
    left: 1vw;
  }
  
   #exhibit_2_item > img{
    width: 76.8vw;
    height: 51.2vw;
  }
  
  #exhibit_2_item > div > p {
    font-size: 3.36vw;
    width: 76.8vw;
    margin-bottom: 3.5vw;
  }
  
  
  
  
  #Point {
    width: 100vw;
    height: 393.6vw;
  }
  
  #Point h2 {
    font-size: 4.8vw;
    letter-spacing: 0.07em;
  }
  
  #Point > h2 > span {
    text-align: center;
  }
  
  .Point_item {
    display: block;
    width: 77.1626667vw;
    height: 87.8426667vw;
    margin-left: 0vw;
  }
  
   .small {
    height: 82.9893333vw;
  }
  
  .Point_item h3 {
    font-size: 4.224vw;
    letter-spacing: 0.03em;
    border-bottom: 0.26666667vw solid #212529;
    width: 77.1626667vw;
    padding-bottom: 2.453333333vw;
  }
  
  .Point_item p {
    font-size: 3.36vw;
    width: 77.1626667vw;
    margin-bottom: 2.66666667vw;
  }
  
  .Point_item figure img {
    width: 76.8vw;
    height: 51.4666667vw;
  }
  
  .Point_item figcaption {
    margin-top: 1.01333333vw;
    font-size: 2.88vw;
  }
  
  #no_dry {
    width: 57.6vw;
  }
  
  .margin_r {
    margin-left: 0;
  }
  
  #Point_border1 {
    border-bottom: 0.8vw solid #B391A2;
    width: 28.9626667vw;
    position: absolute;
    top: 4.3vw;
  }
  
  #Point_border2 {
    border-bottom: 0.8vw solid #B391A2;
    width: 26.104vw;
    position: absolute;
    top: 4.4vw;
  }
  
  #Point_border3 {
    border-bottom: 0.8vw solid #B391A2;
    width: 39.1573333vw;
    position: absolute;
    top: 4.3vw;
  }
  
  #Point_border4 {
    border-bottom: 0.8vw solid #B391A2;
    width: 47.8586667vw;
    position: absolute;
    top: 5.4vw;
  }
  
  
  
  
  
  #Step {
    width: 100vw;
    height: 358.061333vw;
  }
  
  #step > h2 {
    font-size: 4.53333333vw;
    letter-spacing: 0.01em;
    width: 72.5333333vw;
    margin: 5.01333333vw 0 0 11.5733333vw;
  }
  
  .Step_item {
    width: 76.8vw;
    height: 63.7333333vw;
    margin-bottom: 8.0vw;
    border-bottom: 0.26666667vw solid #808080;
  }
  
  .Step_item > img{
    width: 76.8vw;
    height: 38.4vw;
    position: absolute;
    top: 8.03333333vw;
  }
  
  .Step_point {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .Step_point > h3 {
    font-size: 4.224vw;
    width: 11.5333333vw;
  }
  
  .Step_border {
    display: none;
  }
  
  .Step_point > p {
    font-size: 3.36vw;
    width: 76.8vw;
    position: absolute;
    top: 41.768vw;
  }
  
  .last {
    border-bottom: none;
  }
  
  
  
  
  #QandA {
    height: 280vw;
  }
  
  #QandA > h2 {
    font-size: 4.8vw;
  }
  
  .solution {
    width: 77.728vw;
    height: 40.4533333vw;
    border-bottom: 0.26666667vw solid #808080;
  }
  
  .question > div, .awnser > div {
    font-size: 5.76vw;
  }
  
  .question > p, .awnser > p {
    font-size: 3.46666667vw;
    width: 71.1466667vw;
    margin-top: 0.9vw;
  }
  
  
  
  
  #Form {
    width: 100vw;
    height: 260vw;
  }
  
   #sign {
    margin-top: 6.1333333vw;
    margin-bottom: 11.7333333vw;
    border-radius: 2.666666667vw;
    border: 0.26666667vw solid #808080;
    width: 76.8vw;
  }
  
  #Form > div {
    margin-top: 5.06666667vw;
  }
  
  #information, #payment{
    font-size: 4.32vw;
    letter-spacing: 0.260em;
    width: 76.8vw;
    text-align: center;
    border-radius: 9.5vw;
  }
  
  .necessary, .unnecessary{
    font-size: 2.88vw;
    border-radius: 1.06666667vw;
    width: 6.92vw;
    height: 4.576vw;
    padding: 0.32vw 0.48vw 0.24vw 0.37333333vw;
    margin-top: 0.9vw;
  }
  
  .form_column {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .form_label {
    font-size: 3.36vw;
    width: 20.13333333vw;
  }
  
  .label_name {
    width: 10.1333333vw;
    height: 4.8vw;
    margin-right: 0.800vw;
    margin-bottom: 0.74666667vw;
  }
  
  .column_name {
    margin-top: 4.05333333vw;
    margin-bottom: 2.88vw;
  }
  
  .label_kana {
    width: 13.6333333vw;
    height: 4.8vw;
    margin-right: 0.3vw;
    margin-bottom: 0.74666667vw;
  }
  
  .column_kana {
    margin-bottom: 9.8133333vw;
  }
  
  .label_adress {
    width: 13.6333333vw;
    height: 4.8vw;
    margin-right: 0.3vw;
    margin-bottom: 0.74666667vw;
  }
  
  .column_adress {
    margin-bottom: 2.88vw;
  }
  
  .label_prefecture, .label_municipalities {
    width: 13.6333333vw;
    height: 4.8vw;
    margin-right: 0.3vw;
    margin-bottom: 0.74666667vw;
  }
  
  .column_prefecture, .column_municipalities {
    margin-bottom: 3.94666667vw;
  }
  
  .label_apartment {
    width: 20.2666667vw;
    height: 4.8vw;
    margin-right: 0.3vw;
    margin-bottom: 0.7466666vw;
  }
  
  .column_apartment {
    margin-bottom: 9.8133333vw;
  }
  
  .label_phone_number {
    width: 13.533333vw;
    height: 4.8vw;
    margin-right: 0.3vw;
    margin-bottom: 0.7466666vw;
  }
  
  .column_phone_number {
    margin-bottom: 3.94666667vw;
  }
  
  .label_mailadress {
    width: 23.6666667vw;
    height: 4.8vw;
    margin-right: 0.3vw;
    margin-bottom: 0.7466666vw;
  }
  
  .column_mailadress {
    margin-bottom: 9.8133333vw;
  }
  
  .label_password {
    width: 16.8vw;
    height: 4.8vw;
    margin-right: 0.3vw;
    margin-bottom: 0.7466666vw;
  }
  
  .column_password {
    margin-bottom: 7.89333333vw;
  }
  
  .form_parts {
    font-size: 3.36vw;
    height: 6.24vw;
    padding-left: 1.97333333vw;
  }
  
  .form_column {
    width: 66.666667vw;
    height: 11.776vw;
  }
  
  .fa-angle-down {
  font-size: 2.6666vw;
  color: #212529;
  position: absolute;
  top: 8.5vw;
  left: 63.5vw;
  z-index: 3;
}
  
  #username, #userkana, #useradress, #userprefecture, #userphone_number, #usermunicipalities, #userapartment, #usermailadress, #userpassword {
    width: 66.6666667vw;
    border: 0.26666667vw solid #D3D3D3;
    border-radius: 1.06666667vw;
  }
  
  
  #form_submit > div {
    margin-top: 8.58666667vw;
    margin-bottom: 7.8vw;
  }
  
  .radio {
    width: 3.46666667vw;
    height: 3.46666667vw;
    margin-bottom: 6.3vw;
    
  }
  
  .radiobutton {
    margin-left: 10.6666667vw;
    margin-top: 1vw;
  }
  
  .radiotext {
    font-size: 3.36vw;
    margin-left: 1.6vw;
  }
  
  .radiotext > p {
    margin-bottom: 4.8vw;
  }
  
  
  #submit_button {
    font-size: 4.32vw;
    width: 38.4vw;
    height: 8vw;
    border-radius: 0.26666667vw;
  }
  
  
  
  
  
  
  
  #Credit {
    width: 100vw;
    height: 10.6666667vw;
  }
  
  
  #Credit > div{
    padding-top: 0;
    width: 96vw;
    text-align: center;
  }
  
  #Credit ul {
    padding-top: 0;
    margin-left: 10vw;
    display: flex;
    flex-flow: row wrap
  }
  
  #Credit li {
    margin-top: 1vw;
    font-size: 2.88vw;
    line-height: 3vw;
    padding-right: 1vw;
    border-right: 0.1533333vw solid #212529;
  }
  
  .left {
    margin-left: 13.4vw;
  }
  
  
  
 

}
  
































